/* -- Estilo general --*/
body {
  font-family: var(--font-family);
  margin: 0;
  /* Elimina el margen predeterminado del body */
  line-height: 1.7;
  /* Mejora la legibilidad del texto */
  color: var(--color-secundary);
  /* Un color de texto base más sutil */
  font-size: var(--font-size-md);
}

.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: transparent;
  text-align: center;
  height: 100dvh;
  /* Otros estilos de .hero */
}