/* -- Pie de página --*/
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* Distribuye mejor los elementos */
  gap: 1.5rem;
  background-color: var(--color-secundary);
  /* Un fondo más oscuro para el pie de página */
  color: var(--texto-dark);
  /* Texto claro en el pie de página */
  padding: 2rem;
  text-align: left;
  /* Alineación de texto a la izquierda por defecto */
}

.footer__div {
  margin-bottom: 1.5rem;
}

.footer__div--h4 {
  font-family: var(--font-family);
  font-size: var(--font-size-md);;
  margin-bottom: 0.8rem;
  color: var(--texto-dark);
  /* Un color ligeramente más claro para los títulos */
}

.footer__div--img {
  height: 20px;
  /* Reduce el tamaño de los iconos */
  margin-right: 0.5rem;
  vertical-align: middle;
  /* Alinea verticalmente con el texto */
}

.footer__div--a {
  font-size: var(--font-size-md);;
  color: var(--color-secundary);
  text-decoration: none;
  display: block;
  /* Para que los enlaces ocupen todo el ancho y sean más fáciles de tocar */
  margin-bottom: 0.5rem;
  transition: color 0.3s ease;
}

.footer__iframe {
  width: 100%;
  /* El iframe ocupa todo el ancho de su contenedor */
  max-width: 400px;
  height: auto;
  /* La altura se ajusta proporcionalmente */
  border: 0;
}