body {
    font-family: 'Garamond', serif;
    margin: 0;
    padding: 0;
    background-color: #ffe6f4;
    color: #333;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

header {
    background-color: #ee49a4; /*Rosado similiar al de la tematica que venimos aplicando para el proyecto de serenity*/
    padding: 5px;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffff;
}

.therapist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* 4 columnas para pantallas grandes, ajusta automáticamente */
    gap: 20px;
    padding: 0 20px;
    max-width: 1200px; /* Ancho máximo para centrar el contenido */
    margin: 0 auto;
}

.therapist-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px #f123951a;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.therapist-card img {
    width: 120px; /* Tamaño de la imagen */
    height: 120px;
    border-radius: 50%; /* Para hacerla redonda */
    object-fit: cover;
    margin-bottom: 15px;
    border: 3px solid #ee49a4; /* Un borde sutil alrededor de la imagen */
}

.therapist-card h3 {
    margin: 10px 0 5px;
    color: #df628c; /* Un azul para los nombres */
}

.therapist-card .role {
    font-weight: bold;
    color: #814d5e;
    margin-bottom: 5px;
}

.therapist-card .specialty {
    font-style: italic;
    color: #35031a;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.therapist-card .description {
    font-size: 1.1em;
    color: #000000;
    line-height: 1.5;
    text-align: justify; /* Alinea el texto de la descripción a la izquierda */
}

.serenty-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.serenity-button img {
    width: 60px; /* Tamaño del icono de Serenity para redirecionar al inicio de seccion  */
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.cuadro-adicional-de-informacion {
   background-color: #ee49a4; /* Un gris muy claro de fondo */
   border: 1px solid #ff75af; /* Un borde sutil */
   padding: 20px;
   text-align: center;
   margin-top: 10px; /* Espacio superior para separarlo del contenido principal */
   margin-left: auto;
   margin-right: auto;
   max-width: 800px; /* Ancho máximo del cuadro */
   border-radius: 5px;
   color: #ffffff;
   font-size: 1em;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    .therapist-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 2 columnas en pantallas medianas */
    }
}

@media (max-width: 480px) {
    .therapist-grid {
        grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
        padding: 0 10px;
    }
    .therapist-card {
        padding: 15px;
    }
    .whatsapp-button img {
        width: 50px;
        height: 50px;
    }
}